
@media screen and (min-width:769px) and (max-width:1024px) {
    .form_wrapper{
        margin-top: 80px;
    }
    .form_container{
        width: 70vw;
       
    }
    .candidatename{
        
        margin:25px;
    }
    .candidatename h3{
        margin-right: auto;
        margin-left: 10px;
    }
    .name{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* justify-content: space-around; */
        /* align-items: center; */
        border: 1px solid green;
    }
    
    .dob_gender{
      
        margin:25px;
    }
   
   
    .form_container .dob_gender .dob .dobrow select{
        width: 70px;
       margin:5px;
        text-align: center;
        height: 40px;
    }
    
   
    
    
    .dob_gender .gender{
        border:none;
        border-radius: 5px;
        /* margin: 0px; */
        margin-left: 55px;
        
    }
    .dob_gender .gender select{
        width: 190px;
        height: 40px;
    }
    .number{
        margin-right: 40px;
     
    }
    
    .email_number input{
        height: 40px;
        width: 190px;
        /* margin:10px; */
    }
    .pwd{
     
        /* border:none; */
        /* width: 190px; */
        /* padding: 10px; */
        /* margin-left: a; */
        margin-right: 40px;
      
    }
  
    .pwd select{
        margin:0px;
        text-align: center;
        width: 190px;
        height: 40px;
        font-size: large;
    }
    .registerbtn{
        padding: 10px;
        font-size: 20px;
        margin:5px;
    }

    /* Style for address Page  */
.flex-column{
    
        margin:20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.flex-column input{
    width:600px;
    height: 45px;
    font-size: medium;
    margin:10px;
}

.flex-row-space-btw input{
    width: 400px;
    margin:25px;
    height: 45px;
}
h3{
 margin-left: 20px;
 

}
.width-400{
    width: 250px;
    
   
    
}
.flex-row-space-btw2{
    
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}


/* Style for address page ends here */

}


@media screen and (max-width:768px) {
    .form_wrapper{
        margin-top: 80px;
    }
    .form_container{
        width: 75vw;
       
    }
    .candidatename{
        
        margin:20px;
    }
    
    .name input{
        width:150px;
        
    }

    .form_container .dob_gender{
        margin: 20px;
       /* border:none;  */
    }
    
    .form_container .dob_gender .dob .dobrow select{
        width: 70px;
       margin: 6px;
       margin-top: 2px;
       
       border-radius:2px;
        height: 40px;
    }
    
   
    
    .gender{
    border:none;
        /* margin-left: auto; */
        margin-right: 40px;
    }
   
    .dob_gender .gender select{
        width: 160px;
        height: 40px;
        border-radius:4px;
        /* margin:0px; */
    }
    .email_number{
       
        margin:20px;
        
    }
  
    .number{
        margin-left: auto;
        margin-right: 0px;
    }
    
    .email_number input{
        height: 40px;
        width: 200px;
        margin:10px;
    }
    .pwd{
     
        
        margin-left: auto;
        margin-right: 0px;
        
    }
  
    .pwd select{
        margin:10px;
        text-align: center;
        width: 200px;
        height: 40px;
        border-radius:4px;
        font-size: medium;
    }
    .form_wrapper .form_container .registerbtn{
        padding: 13px;
        font-size: 20px;
    }

    /* Style for address Page  */
    .flex-column{
    
        margin:20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.flex-column input{
    width:450px;
    height: 45px;
    font-size: medium;
    margin:10px;
}

.flex-row-space-btw input{
    width: 200px;
    margin:30px;
    height: 45px;
}
h3{
 margin-left: 20px;
 width:225px;
/* border:1px solid brown; */
}
.width-400{
    width: 200px;
    /* margin:0px; */
    
   
    
}
.flex-row-space-btw2{
    
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}


/* Style for address page ends here */


}



@media screen and (max-width:540px) {
   html{
       font-size: 55%;
   }
   h3{
       /* margin: 2px; */
       margin-left: 8px;
       margin-top: 2px ;
       /* margin-bottom: 0px ; */
   }
    .form_wrapper{
        margin-top: 40px;
    }
    .form_container{
        width: 70vw;
       
    }
    .candidatename{
        
        margin:10px;
        margin-top: 0px ;
        margin-bottom: 0px ;
    }
    .candidatename h3{
        margin-top:5px ;
    }
    input{
        margin-top: 0px ;
        margin-bottom:0px;
    }
    .name input{
        font-size:40% ;
        width:60px;
        /* margin: 2px; */
        height: 25px;
        margin-top: 0px ;
        margin-bottom:0px;
        /* border: 1px solid green; */
    }

    .form_container .dob_gender{
        margin:10px;
        margin-top: 5px ;
        margin-bottom: 0px ;
        /* border:1px solid green; */
        flex-direction:column ;
         
    }
   
    .form_container .dob_gender .dob .dobrow select{
        
        font-size:55% ;
        width:60px;
        height: 25px;
       margin:0px 10px 5px 10px;
       background-color:#fff ;
       /* margin-top: 2px; */
      
    }
    
   
    .gender h3{
        margin-left:0px;
    }
    .gender{
        margin-top: 0px;
         
        margin-left: 10px;
        margin-right: auto;
    }
    .dob_gender .gender select{
        width: 65px;
        margin:0px;
        
        height: 25px;
        background-color:#fff ;
        border-radius:3px;
        
    }
    .email_number{
       
        margin:5px;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    .email_number h3{
        margin-left: 5px;
    }
  
    .number{
        margin-left: auto;
        margin-right: 0px;
    }
    
    .email_number input{
        height: 25px;
        width: 65px;
        margin-left:5px;
        
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .pwd{
        margin:0px;
        /* margin-top:0px; */
        margin-left: auto;
        margin-right: 10px;
        
    }
    .pwd h3{
        margin-left: 0px;
    }
  
    .pwd select{
        margin-top:0px;

        background-color:#fff;
        width:60px;
        margin-left: 0px;
        height: 25px;
        
        border-radius:4px;
        font-size: 55%;
    }
    .form_wrapper .form_container .registerbtn{
        padding: 10px;
        font-size: 55%;
    }

 /* Style for address Page  */
 .flex-column{
    
    margin:10px;
margin-top: 0px;
margin-bottom: 0px;
}
.flex-column input{
width:170px;
height: 25px;
font-size: 55%;
margin:10px;
}

.flex-row-space-btw input{
width: 170px;
margin:10px;
height: 25px;
}
h3{
margin-left: 10px;
width:auto;
/* border:1px solid brown; */
}
.width-400{
width: 80px;
height: 25px;
margin:10px;



}
.flex-row-space-btw2{

margin: 5px;
margin-bottom: 0px;
margin-top: 0px;
}


/* Style for address page ends here */

/* Style for address page ends here */

/* style for uploading page starts here */
.browsefile{
    /* border:1.54px solid blue; */
    /* display: inline-block; */
    border:1px solid green;
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.browsefile h3{
    margin-right: auto;
}
.moveleft{
    border:1px solid blue;
    margin-right: auto;
   
}
.moveleft h5{
    color:rgb(138, 138, 138);
    font-weight: 100;
}
.browsefile .upload-box{
    height: 40px;
    font-size: 55%;
    /* border:2px solid greenyellow; */
    background-color: #fff;
    border-radius: 50px;
    width:150px;
    border:none;
    box-shadow: 1px 1px 10px rgb(160, 160, 160);
    outline: none;
    cursor: pointer;
    margin: 4px;


}
::-webkit-file-upload-button{
    color: #fff;
    /* height: auto; */
    /* width:120px; */
    /* font-size: 16px; */
    background:#f97000;
    padding:17px;
    /* padding: 15px 15px 20px; */
    border:none;
    font-size: 55%;
    border-radius: 20px;
    text-align: right;
    /* box-shadow: 1px 0px 1px 1px black; */
    outline: none;
    cursor: pointer;
}
::-webkit-file-upload-button:hover{

    background:#f97000b0;
}



}